<span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
    <path d="M0 0L6 6L12 0" fill="#1C1C24"/>
  </svg>
</span>
