<span class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--open" role="presentation">
  <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon_new">
<path d="M9 1L5 5L1 1" stroke="#1C1C24" stroke-opacity="0.7" stroke-linecap="round"/>
</svg>
</span>
