<div class="footer__item-padding">
  {%- if block.settings.show_footer_title -%}
    <p class="h4 footer__title small--hide">{{ block.settings.title }}</p>
  {%- endif -%}
  <div>
    <div class="collapsible-content__inner">
      <div class="footer__collapsible">
        {%- if block.settings.image != blank -%}
          <div class="image-wrap text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
            {%- assign sizeVariable = container_width | append: 'vw' -%}
            {%- render 'image-element',
              img: block.settings.image,
              widths: '360, 540, 720, 900, 1080, 1600',
              role: 'presentation',
              sizeVariable: sizeVariable,
            -%}
          </div>
        {%- endif -%}
        <div class="footer_address_new">
          {{ block.settings.text }}
        </div>
      </div>
    </div>
  </div>
</div>
