{%- if section.blocks.size > 0 -%}
  <div class="Page_family_jewels_collections_main_new" style="background:{{ section.settings.mainbackcolor }};">
    <div class="Page_family_jewels_collections_inner_new">
      <div class="Page_family_jewels_collections_allloop_new">
        {%- for block in section.blocks -%}
          {%- if block.settings.desktopimage != blank or block.settings.mobileimage != blank or block.settings.btntext != blank or block.settings.title != blank -%}
            <div class="Page_family_jewels_collections_allloop_boxs_new">
              {%- if block.settings.btnlink != blank -%}
                <a href="{{ block.settings.btnlink }}">
              {%- endif -%}
                  {%- if block.settings.desktopimage != blank or block.settings.mobileimage != blank -%}
                    <div class="Page_family_jewels_collections_allloop_imageboxs_new">
                      {%- if block.settings.desktopimage != blank -%}
                        {%- render 'image-element',
                          img: block.settings.desktopimage,
                          widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048',
                          classes: 'desktop_image_new',
                        -%}
                      {%- endif -%}
                      {%- if block.settings.mobileimage != blank -%}
                        {%- render 'image-element',
                          img: block.settings.mobileimage,
                          widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048',
                          classes: 'mobile_image_new',
                        -%}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                
                  {%- if block.settings.btntext != blank or block.settings.title != blank -%}
                    <div class="Page_family_jewels_collections_allloop_textsboxs_new">
                      {%- if block.settings.btntext != blank -%}
                        <div class="Page_family_jewels_collections_allloop_textsboxs_button_new">
                          {{ block.settings.btntext }}
                        </div>
                      {%- endif -%}
                      {%- if block.settings.title != blank -%}
                        <h3>{{ block.settings.title }}</h3>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
              {%- if block.settings.btnlink != blank -%}
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endif -%}  

{% schema %}
  {
    "name": "Family Jewels Collections",
    "class": "Page_family_jewels_collections_new",
    "settings": [
      {
        "type": "color",
        "id": "mainbackcolor",
        "label": "Select Main Background Color Display",
        "default": "#FFFFFF"
      }
    ],
    "blocks": [
      {
        "type": "information",
        "name": "Information",
        "settings": [
          {
            "type": "image_picker",
            "id": "desktopimage",
            "label": "Add Desktop Image Display"
          },
          {
            "type": "image_picker",
            "id": "mobileimage",
            "label": "Add Mobile Image Display"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Add Heading Text Display",
            "default": "Heading"
          },
          {
            "type": "text",
            "id": "btntext",
            "label": "Add Button Text Display",
            "default": "Load More"
          },
          {
            "type": "url",
            "id": "btnlink",
            "label": "Add Button Link Display",
            "default": "/"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Family Jewels Collections",
        "blocks": [
          {
            "type": "information"
          },
          {
            "type": "information"
          }
        ]
      }
    ]
  }
{% endschema %}